/* button{
width: 200px;
padding: 10px 20px;
margin-top: 20px;
border-radius: 8px;
border: 1px solid rgb(94, 93, 93);
outline: none;
cursor: pointer;
} */


input{
    padding: 8px 16px;
    width: 200px;
    outline: none;
    border: 1px solid rgb(170, 167, 167);
    border-radius: 8px;
    cursor: pointer;
}

.cont{
    margin-top: 20%;
    margin-bottom: 20%;
    

}

.Login_button{
    font-weight: 500;
    font-size: 16px;
    padding: 10px 30px;
    border-radius: 50px;
    transition: 0.5s;
    color: #3498db;
    border: 2px solid #3498db;
    text-decoration: none;
    margin-top: 5%;
  
}

.Login_button:hover{
    background-color: #3498db;
    color: white;
}
.parent-container{
    width: 30%;
    margin: 15% auto;
    border: 3px solid #3498db;
    border-radius: 12px;
}